.about-container {
    display: block;
    position: relative;
    margin-top: 30vh;
    margin-bottom: 70vh;
    padding-left: 2vw;
    border: 5px solid black;
}

.function-return {
    margin-left: 5vw;
}

.return-text {
    margin-left: 10vw;
}