.events-container {
    display: flex;
    position: relative;
    margin-top: 2vh;
    margin-bottom: 50vh;
    border: 5px solid black;
}


.events-json {
    color: white;
}

.event {
    margin-left: 5vw;
}

.event-info {
    margin-left: 10vw;
}