.home-container {
    display: flex;
    position: relative;
    margin-top: 2vh;
    margin-top: 2vh;
    margin-bottom: 50vh;
    border: 5px solid black;
}

.gmu-cs-club-title {
    width: 100%;
    height: auto;
    text-align: center;
}

.gmu-cs-club-title h1 {
    font-size: 6.5vw;
}
