.photo-container {
    display: flex;
    position: relative;
    min-height: 35vw;
    margin-top: 30vh;
    margin-bottom: 70vh;
    border: 5px solid black;
}

.arrow {
    position: absolute;
    color: black;
    width: 3vw;
    height: auto;
}

.arrow-left{
    left: 0;
    top: 50%;
}

.arrow-right {
    right: 0;
    top: 50%;
}

.photos {
    display: flex;
}

.photo_1 {
    width: 30%;
    height: auto;
    margin-right: 5%;
    border: solid blue 5px
}

.photo_1 img {
    width: 100%;
    object-fit: contain;
}

.photo_2 {
    width: 30%;
    height: auto;
    border: solid green 5px
}

.photo_2 img {
    width: 100%;
    object-fit: contain;
}

.photo_3 {
    width: 30%;
    height: auto;
    margin-left: 5%;
    border: solid gold 5px;
}

.photo_3 img {
    width: 100%;
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .photo-container {
        min-height: 100vw;
    }

    .arrow {
        width: 8vw;
        color: rgb(172, 187, 174);
    }

    .arrow-left{
        left: 5px;
        top: 45%;
    }
    
    .arrow-right {
        right: 5px;
        top: 45%;
    }

    .photo_1 {
        margin: auto;
        width: 100%;
        height: auto;
        left: 50%;
        top: 50%;
    }

    .photo_2 {
        display: none;
    }
    .photo_3 {
        display: none;
    }
}